{% extends "base.html" %}

{% block content %}

<h1>{{ leader.name }}</h1>

<p>
    {{ leader.office }} · {{ leader.county }} · {{ leader.party }}
</p>

<div class="card">
    <h2>Overall Score</h2>

    <div class="score">
        {{ leader.overall }}/100
    </div>
</div>

<div class="grid">

    <article class="card">
        <h3>Performance</h3>
        <strong>{{ leader.performance }}/100</strong>
    </article>

    <article class="card">
        <h3>Activity</h3>
        <strong>{{ leader.activity }}/100</strong>
    </article>

    <article class="card">
        <h3>Promise Delivery</h3>
        <strong>{{ leader.promise }}/100</strong>
    </article>

    <article class="card">
        <h3>Budget</h3>
        <strong>{{ leader.budget }}/100</strong>
    </article>

    <article class="card">
        <h3>Evidence</h3>
        <strong>{{ leader.evidence }}/100</strong>
    </article>

</div>

<br>

<a class="btn" href="/leaders">
    ← Back to Leaders
</a>

{% endblock %}s